  @keyframes textColorChange {
    5% { color: rgb(220, 207, 207); }
    10% { color: rgb(130, 130, 57); }
    20% { color: rgb(21, 161, 68); }
    40% { color: green; }
    60% { color: rgb(193, 25, 154); }
    80% { color: blue; }
    100% { color: red; }
  }

  .animated-text-button {
    padding: 15px;
    font-family: 'Times New Roman', Times, serif;
    text-transform: uppercase;
    border-radius: 12px;
    color: white; /* Initial color */
    animation: textColorChange 5s infinite;
  }